[submodule "router"]
	path = router
	url = https://github.com/hkloudou/deis_router.git
[submodule "registry"]
	path = registry
	url = https://github.com/hkloudou/deit_registry.git
[submodule "controller"]
	path = controller
	url = https://github.com/hkloudou/deis_controller.git
[submodule "store"]
	path = store
	url = https://github.com/hkloudou/deis_store.git
